SECRET_KEY=

DEBUG=

#DB SETTINGS
NAME=
USER=
PASSWORD=
HOST=
PORT=

#MAILING SETTINGS
MAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

#CACHE SETTINGS
LOCATION=