{% extends 'mailings/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-6">
    <div class="card mb-3">
        {% if user.is_authenticated %}
        <div class="card-body">
            <h5 class="card-title">Тема рассылки: {{ mailing.message.subject }}</h5>
            <p class="card-text">Начало отправки: {{ mailing.sending_start }}</p>
            <p class="card-text">Окончание отправки: {{ mailing.sending_end }}</p>
            <p class="card-text">Статус: {{ mailing.status }}</p>
            <p class="card-text">Получатели: {{ mailing.recipient_list }}</p>
            <a href="{% url 'mailings:mailing_update' mailing.pk %}" class="btn btn-secondary">Редактировать</a>
            <a href="{% url 'mailings:mailing_delete' mailing.pk %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'mailings:mailing_list' %}" class="btn btn-primary">Назад</a>
        </div>
        {% else %}
        <p>Для просмотра информации требуется авторизация</p>
        {% endif %}
    </div>
</div>
{% endblock %}