{% extends 'mailings/base.html' %}
{% load my_tags %}
{% block title %}<h4>Список получателей</h4>{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<a href="{% url 'mailings:recipient_create' %}" class="btn btn-primary">Добавить получателя</a>
{% endif %}
<table class="table caption-top">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Email</th>
        <th scope="col">Комментарий</th>
        <th scope="col">Детали</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for recipient in recipient_list %}
    {% if user == recipient.owner or perms.mailings.view_recipient %}
    <tr>
        <td>{{ recipient.id }}</td>
        <td>{{ recipient.full_name }}</td>
        <td>{{ recipient.email }}</td>
        <td>{{ recipient.comment }}</td>
        <td><a href="{% url 'mailings:recipient_detail' recipient.pk %}">Просмотр</a></td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}